$accent: #6ebbd3;
$black: #1f2021;
$black-opacity: rgba(#1f2021, .79);
$light-opacity: rgba(#fff, .5);
$gray: #cacaca;
$light-gray: #f3f3f3;
$dark-gray: #4d4d4d;
$red: #e52d2d;

$border-radius: 10px;

// Шрифты
$default-font: "Montserrat", sans-serif;